<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- 
* @author 雲鳳麟、黄益柱、楊炯
* @version 2020/05/28　10:00:54 
* マッパ
-->
     
<mapper namespace="com.tomato.syunnamori.Dao.CreatureDao">

<select id="queryAll" resultType="Creature">
select
	c.c_code,
	c.c_name,
	c.f_sh,
	c.c_price,
	c.p_code,
	p.p_name,
	tz.i_code as 'TimeZone.iCode',
	tz.n_month as 'TimeZone.nMonth',
	tz.s_month as 'TimeZone.sMonth',
	tz.time_zone as 'TimeZone.timeZone'
from
	creature c
	inner join place p on c.p_code = p.p_code
	inner join time_zone tz on c.c_code = tz.c_code
</select>
	

</mapper>