<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.syunnamori.Dao.CreatureDao">
	<select id="queryAll" resultType="Creature">
		select
			c.c_code,c.t_code,c.c_name,c.c_price,c.s_conditions,c.img,c.c_place,c.f_sh,c.sh_name,
			m.c_code "month.c_code",
			m.earth "month.earth",
			m.start_month "month.start_month",
			m.end_month "month.end_month",
			m.start_time "month.start_time",
			m.end_time "month.end_time"
		from creature c
		inner join `month` m on c.c_code = m.c_code
	</select>
	<select id="queryThisMonth" resultType="Creature">
		select
			c.c_code,c.t_code,c.c_name,c.c_price,c.s_conditions,c.img,c.c_place,c.f_sh,c.sh_name,
			m.c_code "month.c_code",
			m.earth "month.earth",
			m.start_month "month.start_month",
			m.end_month "month.end_month",
			m.start_time "month.start_time",
			m.end_time "month.end_time"
		from
			creature as c
		inner join
			month as m
		on
			c.c_code = m.c_code
		where
			month(now())  between m.start_month and m.end_month;
	</select>

</mapper>