<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.syunnamori.Dao.CreatureDao">
	<select id="queryAll" resultType="Creature">
		select
			c.c_code,c.t_code,c.c_name,c.c_price,c.s_conditions,c.img,c.c_place,c.f_sh,c.sh_name,
			m.c_code "month.c_code",
			m.earth "month.earth",
			m.start_month "month.start_month",
			m.end_month "month.end_month",
			m.start_time "month.start_time",
			m.end_time "month.end_time"
		from creature c
		inner join `month` m on c.c_code = m.c_code
	</select>

	<select id="queryThisMonth" resultType="Creature">
		select
			c.c_code,c.t_code,c.c_name,c.c_price,c.s_conditions,c.img,c.c_place,c.f_sh,c.sh_name,
			m.c_code "month.c_code",
			m.earth "month.earth",
			m.start_month "month.start_month",
			m.end_month "month.end_month",
			m.start_time "month.start_time",
			m.end_time "month.end_time"
		from
			creature c
		inner join
			month m
		on
			c.c_code = m.c_code
		where
			(
				<!--開始月が終了月より小さいか同じ -->
				m.start_month <![CDATA[ <= ]]> m.end_month
				AND
				(
					<!--開始月が今月より小さいか同じ -->
					m.start_month <![CDATA[ <= ]]> month(now())
				AND
					<!--かつ、終了月が今月より大きいか同じ -->
					month(now()) <![CDATA[ <= ]]> m.end_month
				)
			)
			OR
			(
				<!--開始月が終了月より大きい -->
				m.start_month <![CDATA[ > ]]> m.end_month
				AND
				(
					<!--開始月が今月より小さいか同じ -->
					m.start_month <![CDATA[ <= ]]> month(now())
				OR
					<!--もしくは、終了月が今月より大きいか同じ -->
					month(now()) <![CDATA[ <= ]]> m.end_month
				)
			);
	</select>
	<select id="queryRealTime" resultType="Creature">
	<!-- これはデータベースから現在時間で存在する魚と虫の情報を取り出すSQL文です -->
		select
			c.c_code,c.t_code,c.c_name,c.c_price,c.s_conditions,c.img,c.c_place,c.f_sh,c.sh_name,
			m.c_code "month.c_code",
			m.earth "month.earth",
			m.start_month "month.start_month",
			m.end_month "month.end_month",
			m.start_time "month.start_time",
			m.end_time "month.end_time"
		from
			creature as c
		inner join
			month as m
		on
			c.c_code = m.c_code
		where
			(	<!--これは全ての開始時間は終了時間より小さいケースです、その時、開始時間＜現在時間＜終了時間、の判断をとります-->
				(m.start_month <![CDATA[ <= ]]> m.end_month )
				AND
				(m.START_TIME <![CDATA[ <= ]]> m.END_TIME)
				AND
				(m.start_month <![CDATA[ <= ]]> MONTH(NOW()))
				AND
				(MONTH(NOW()) <![CDATA[ <= ]]>  m.end_month)
				AND
				(m.START_TIME <![CDATA[ <= ]]> HOUR(NOW()))
				AND
				(HOUR(NOW()) <![CDATA[ <= ]]> m.END_TIME)
			)
			OR
			(	<!--これは開始時間は終了時間より小さいそして開始月は終了月より大きケースです、その時、開始時間＜現在時間＜終了時間、開始月＜現在時間、終了月＞現在時間の判断をとります-->
				(m.start_month > m.end_month)
				AND
				(m.START_TIME <![CDATA[ <= ]]> m.END_TIME)
				AND
					(
						(start_month  <![CDATA[ <= ]]>  MONTH(NOW()))
					OR
						(MONTH(NOW()) <![CDATA[ <= ]]> m.end_month)
					)
				AND
				(m.START_TIME <![CDATA[ <= ]]> HOUR(NOW()))
				AND
				(HOUR(NOW()) <![CDATA[ <= ]]> m.END_TIME)
			)
			OR
			(<!--これは開始時間は終了時間より大きいそして開始月は終了月より小さいケースです、その時、開始月＜現在時間＜終了月、開始時間＜現在時間、終了時間＞現在時間の判断をとります-->
				(m.start_month <![CDATA[ <= ]]>  m.end_month)
				AND
				(m.START_TIME > m.END_TIME)
				AND
				(m.start_month <![CDATA[ <= ]]> MONTH(NOW()))
				AND
				(MONTH(NOW()) <![CDATA[ <= ]]>  m.end_month)
				AND
				(
					(m.START_TIME <![CDATA[ <= ]]> HOUR(NOW()))
				OR
					(HOUR(NOW()) <![CDATA[ <= ]]> m.END_TIME)
				)
			)
			OR
			(
			<!--これは開始時間は終了時間より大きいそして開始月は終了月より大きいケースです、その時、開始月＜現在時間、終了月＞現在時間、開始時間＜現在時間、終了時間＞現在時間の判断をとります-->
				(m.start_month >  m.end_month)
				AND
				(m.START_TIME > m.END_TIME)
				AND
				(
					(m.START_TIME <![CDATA[ <= ]]> HOUR(NOW()))
				OR
					(HOUR(NOW()) <![CDATA[ <= ]]> m.END_TIME)
				)
				AND
				(
					(start_month  <![CDATA[ <= ]]>  MONTH(NOW()))
				OR
					(MONTH(NOW()) <![CDATA[ <= ]]> m.end_month)
				)
			);
	</select>
</mapper>