<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.syunnamori.Dao.MonthDao">
	<select id="queryThisMonth" resultType="Month">
		select
			c.c_code,c.t_code,c.c_name,c.c_price,c.s_conditions,c.img,c.c_place,c.f_sh,c.sh_name,c.dle_flg,m.month,m.earth,m.t_zone_a,m.t_zone_b
		from
			creature as c
		inner join
			month as m
		on
			c.c_code = m.c_code
		where
			m.month = month(date)
</select>
</mapper>