<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.syunnamori.Dao.RealTimeDao">
    <select id="realTimeSelect" resultType="com.tomato.syunnamori.Entity">
    select C_NAME, C_PRICE, S_NAME, IMG, C_PLACE,  F_SH, SH_NAME  from creature where C_CODE =
    (select C_CODE from month where C_MONTH = MONTH(date) AND
    （T_ZONE_A =
    		(select T_CODE from time_zone where DATEPART(hh,data) >STR_TIME AND DATEPART(hh,VAC36) < END_TIME)
    	OR T_ZONE_B =
    		(select T_CODE from time_zone where DATEPART(hh,data) >STR_TIME AND DATEPART(hh,VAC36) < END_TIME)
      )
    )
    <!-- このSQL文はデータベースから現在時間に存在する魚や虫の情報を取り出すために使います -->
    </select>
</mapper>